body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: large;
  }
  
  
  
  .container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px; /* Esquinas redondeadas */
    justify-content: center;
    align-items: center;
}

.image-section {
    position: relative;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
}

.image-section button {
    position: absolute;
    bottom: 185px;
    right: 457px;
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
}

.image-section select {
    position: absolute;
    bottom: 187px;
    right: 500px;
    width: 550px; /* Ancho del botón */
    height: 38px; /* Altura del botón */
    border-radius: 8px;
}


.image-section {
    flex: 1;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: rgba(72, 195, 248, 0);
    color: rgba(255, 255, 255, 0); /* Color del texto */
    border: 0px solid rgba(72, 195, 248, 0);
}

#result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* O ajusta la altura según sea necesario */
  }

  .Samuel_Garcia {
    position: relative;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
}

.Samuel_Garcia img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el contenedor de Samuel_Garcia */
  #Samuel_Garcia {
    position: relative;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
  }

  
  /* Estilos para el botón "Conoce más" */
  .conoce {
    position: absolute;
    top: 630px; /* Posición vertical al 50% del contenedor */
    left: 680px; /* Posición horizontal al 50% del contenedor */
    transform: translate(-50%, -50%); /* Centrar el botón exactamente en el centro */
    padding: 15px 30px;
    font-size: 20px;
    background-color: #EA861E;
    color: #fff;
    border: 2px solid #EA861E;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px; /* Espaciado entre el botón y el contenido de la derecha */
  }
  
  .conoce:hover {
    background-color: #9a5002;
    border-color: #9a5002;
  }


  /* Estilos para el botón con la imagen de Instagram */
  .img-button {
    position: absolute;
    top: 605px; /* Posición vertical al 50% del contenedor */
    left: 850px; /* Posición horizontal al 50% del contenedor */
    display: inline-block;
    vertical-align: middle;
  }
  
  .img-button img {
    width: 55px;
    height: 55px;
    border: none;
    cursor: pointer;
  }
  

  .Xochitl_Galvez {
    position: relative;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
    }

    .Xochitl_Galvez img {
        max-width: 100%;
        height: auto;
    }

  #Xochitl_Galvez {
    position: relative;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
  }

    /* Estilos para el botón "Conoce más" */
    .conoce2 {
        position: absolute;
        top: 780px; /* Posición vertical al 50% del contenedor */
        left: 680px; /* Posición horizontal al 50% del contenedor */
        transform: translate(-50%, -50%); /* Centrar el botón exactamente en el centro */
        padding: 15px 30px;
        font-size: 20px;
        background-color: #EA861E;
        color: #fff;
        border: 2px solid #EA861E;
        border-radius: 15px;
        text-align: center;
        margin-right: 10px; /* Espaciado entre el botón y el contenido de la derecha */
      }
      
      .conoce2:hover {
        background-color: #9a5002;
        border-color: #9a5002;
      }
    
    
      /* Estilos para el botón con la imagen de Instagram */
      .img-button2 {
        position: absolute;
        top: 755px; /* Posición vertical al 50% del contenedor */
        left: 850px; /* Posición horizontal al 50% del contenedor */
        display: inline-block;
        vertical-align: middle;
      }
      
      .img-button2 img {
        width: 55px;
        height: 55px;
        border: none;
        cursor: pointer;
      }

      .Claudia_Sheinbaum {
        position: relative;
        display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
        }
    
        .Claudia_Sheinbaum img {
            max-width: 100%;
            height: auto;
        }
    
      #Claudia_Sheinbaum {
        position: relative;
        display: flex;
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: center; /* Centra horizontalmente los elementos */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
      }
    
        /* Estilos para el botón "Conoce más" */
        .conoce3 {
            position: absolute;
            top: 780px; /* Posición vertical al 50% del contenedor */
            left: 680px; /* Posición horizontal al 50% del contenedor */
            transform: translate(-50%, -50%); /* Centrar el botón exactamente en el centro */
            padding: 15px 30px;
            font-size: 20px;
            background-color: #EA861E;
            color: #fff;
            border: 2px solid #EA861E;
            border-radius: 15px;
            text-align: center;
            margin-right: 10px; /* Espaciado entre el botón y el contenido de la derecha */
          }
          
          .conoce3:hover {
            background-color: #9a5002;
            border-color: #9a5002;
          }
        
        
          /* Estilos para el botón con la imagen de Instagram */
          .img-button3 {
            position: absolute;
            top: 755px; /* Posición vertical al 50% del contenedor */
            left: 850px; /* Posición horizontal al 50% del contenedor */
            display: inline-block;
            vertical-align: middle;
          }
          
          .img-button3 img {
            width: 55px;
            height: 55px;
            border: none;
            cursor: pointer;
          }
      
                /* Estilos para el botón con la imagen de Instagram */
      .ini-button {
        position: absolute;
        top: 30px; /* Posición vertical al 50% del contenedor */
        left: 30px; /* Posición horizontal al 50% del contenedor */
        vertical-align: middle;
      }
      
      .ini-button img {
        border: none;
        cursor: pointer;
      }
    
/* Estilos para el contenedor de resultados */
#result-container {
    margin-top: 1320px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  /* Resto de los estilos para la sección de resultados */
  .results {
    /* Agrega cualquier otro estilo necesario para la sección de resultados */
  }
  
  /* Estilos para la tabla de noticias (puedes ajustar según tus necesidades) */
  #newsListTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Estilos para los encabezados de la tabla de noticias */
  #newsListTable th {
    font-family: 'Montserrat', sans-serif;
    color: #EA861E; /* Puedes cambiar este color según tus preferencias */
  }
  
  /* Estilos para la lista de enlaces (puedes ajustar según tus necesidades) */
  #linksList {
    list-style-type: none;
    margin-top: 20px;
  }
  
  /* Estilos para el contenedor de detalles (puedes ajustar según tus necesidades) */
  #detailsContainer {
    margin-top: 20px;
  }
  
  /* Estilos para los encabezados en el contenedor de detalles */
  #detailsContainer h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }
  
  

